#services {
    width: 100vw;
    min-height: 480px;
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    flex-direction: column;

    header {
        margin-top: 88px;
    }
}

#servicesgrid {
    display: flex;
    gap: 24px;
}

#services-card {
    border: solid 2px var(--gray-200);
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}